.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}
.App-header p {
  font-size: 1.6rem;
  font-weight: 700;
}

.colored {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  margin: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80px;
}